<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newsmetro.dao.TargetCacheMapper">

    <select id="getTargetCacheByTargetId" resultType="com.newsmetro.po.TargetCache">
        select id as id,target_id as targetId,items as items,update_time as updateTime from target_mapping where target_id = #{targetId};
    </select>

</mapper>